body {
  font-family: 'Consolas', 'Helvetica', sans-serif;
}

.title {
  font-size: 1.5rem;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
}

.block-container {
  padding: 1rem;
}

.card {
  border:  1px solid #abc;
  padding: 0.5rem;
  border-radius: 4px;
}

.nav {
  margin: 0;
  padding: 0;
  list-style:  none;
  display:  flex;
  flex-wrap:  wrap;
  margin-bottom: 1rem;
}

.nav li {
  padding: 1rem 3rem 2rem 0;

}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.form-cont {
  float: left;
  padding-right: 2rem;
}

.auth-container h3 {
  font-weight: normal;
  color: #92979A;
}

.form-group {
  margin-bottom: 0.25rem;
}

.form-control {
  border-radius: 16px;
  border: none;
  background: #f1f3f8;
  padding: 0.25rem 1rem;
}

.form-control:active, .form-control:focus {
  border: none;
  background: #504eff;
  color: white;
  outline: none;
  font-family: 'Consolas';
}

.btn {
  border-radius: 16px;
  border: none;
  background-color: #504eff;
  color: white;
  font-family: 'Consolas';
  padding: 0.25rem 1rem;
}

.btn:active, .btn:focus {
  border: none;
  background: #403eef;
  color: white;
  outline: none;
  font-family: 'Consolas'; 
}

.card-view {
  p {
    margin-bottom: 0;
  }
}