body {
  font-family: 'Helvetica Neue', sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.card-view {
  padding: 1rem;
}

.card {
  border:  1px solid #abc;
  padding: 0.5rem;
  border-radius: 4px;
}

.nav {
  margin: 0;
  padding: 0;
  list-style:  none;
  display:  flex;
  flex-wrap:  wrap;
  margin-bottom: 1rem;
}

.nav li {
  padding: 1rem 3rem 2rem 0;

}
