<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Node JS app
  link(rel="stylesheet", href="static/css/styles.css")
body
  h1 Books route
  p.desc books
  ul
    each val in nav
      li
        a(href= val.link)= val.text

  ul
    each book in books
      li
        p= book.title
        p= book.author
        a(href="/books/"+book.id) Details