<!DOCTYPE html>
html(lang="en")
head
  meta(charset="UTF-8")
  title Node JS app
  link(rel="stylesheet", href="static/css/styles.css")
body
  .card-view
    h1 Cards
    ul.nav
      each val in nav
        li
          a(href= val.link)= val.text

    ul
      each card in cards
        li
          p= card.firstName
          p= card.lastName
          p
            a(href="/cards/"+card._id) Details
          br