extend layout
block content
  .block-container
    h1.title All Cards
    ul.nav
      each val in nav
        li
          a(href= val.link)= val.text

    ul
      each card in cards
        li
          p= card.firstName
          p= card.lastName
          p
            a(href="/cards/"+card._id) Details
          br